{% extends "layout.html" %}
{% block content %}
<div class="content-header">
  <h3 id="lifetime-header">Lifetime Report (as of {{todays_date}})</h3>
  <hr>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div id="today-sect" class="home-stats-sect">
        <h6>Lifetime Avg. Score</h6>
        <p>{{statistics[0]}}</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div id="qtd-sect" class="home-stats-sect">
        <h6>Lifetime Median</h6>
        <p>{{statistics[1]}}</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div id="mtd-sect" class="home-stats-sect">
        <h6>Lifetime Standard Dev.</h6>
        <p>{{statistics[2]}}</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div id="ytd-sect" class="home-stats-sect">
        <h6>Lifetime Actual Variance</h6>
        <p>{{statistics[3]}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div id="highest-scores" class="recent-scores-table">
        <h5>Top 5 Scores All-Time</h5>
        <table class="table rst">
          <thead>
            <tr>
              <th scope="col">Rank No.</th>
              <th scope="col">Username</th>
              <th scope="col">Score</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% if stats_length == 0 %}
              {% for i in range(0, 5, 1)%}
              <tr>
                <td scope="row">{{i+1}}</id>
                <td scope="row">None</id>
                <td>None</td>
                <td>N/A</td>
              </tr>
              {% endfor %}
            {% else %}
              {% for i in range (0, 5, 1)%}
                {% if i > stats_length-1 %}
                  <tr>
                    <td scope="row">{{i+1}}</id>
                    <td scope="row">None</id>
                    <td>None</td>
                    <td>N/A</td>
                  </tr>
                {% else %}
                  <tr>
                    <td scope="row">{{i+1}}</id>
                    <td scope="row">{{top_scores[i][1]}}</id>
                    <td>{{top_scores[i][2]}}</td>
                    <td>{{top_scores[i][3]}}</td>
                  </tr>
                {% endif %}
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="pie-chart-stat col-lg-12">
          <h5>Percentage Around Median</h5>
          <canvas id="myChart"></canvas>
        </div>
      </div>
      <script>
        var data = {
          datasets: [{
          data: [{{statistics[4]}}, {{statistics[5]}}, {{statistics[6]}}],
          backgroundColor: ['#FF7F7F', '#B75B5B', '#be0000']
        }],
        labels: ['Above', 'Below', 'Equal']
        };
        var ctx = document.getElementById('myChart').getContext('2d');
        var myPieChart = new Chart(ctx, {
          type: 'pie',
          data: data
        });
      </script>
    </div>
  </div>
</div>

{% endblock %}
